/* Banner */

.banner {
    background: center/cover url(../resource/desert-pic.jpg);
    height: 54vh;
    min-height: 280px;
}

.banner-container {
    text-align: center;
    padding: 60px 20px
}

.banner-container h4 {
    color: white;
    font-size: 4.6rem;
}

.banner-container p {
    color: white;
    font-size: 2rem;
    margin-top: 10px;
}

/* Contact */

.contact-container {
    display: flex;
    min-height: 100vh
}

.contact-info {
    flex: 2;
    padding: 40px;
}

.contact-message {
    flex: 3;
    padding: 40px;
}

.contact-title {
    font-size: 1.8rem;
    text-transform: uppercase;
}

.contact-info-content {
    margin-top: 60px;
}

.contact-info-method {
    margin-bottom: 40px;
}

.contact-info-method h4 {
    font-size: 2.2rem;
}

.contact-info-method i {
    margin-right: 10px;
}

.contact-info-method p {
    font-size: 1.6rem;
    color: rgb(40, 40, 40);
    margin-top: 10px;
}

.contact-info-social {
    padding-top: 20px;
    border-top: rgb(40, 40, 40) solid 1px;
}

.contact-info-social a {
    margin-right: 10px;
}

.contact-info-social a:hover {
    color: rgb(20, 20, 20);
    transition: 0.2s;
}



.contact-message-content {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.contact-message input, .contact-message textarea {
    width: 100%;
    outline: none;
    border: none;
    background-color: rgb(240, 240, 240);
    border-bottom: 2px solid rgb(40, 40, 40);
    font-size: 1.6rem;
    padding: 5px 0;
}

.contact-message input:focus, .contact-message textarea:focus {
    background-color: rgb(230, 230, 230);
    border-bottom: 2px solid rgb(0, 0, 0);
    transition: 0.2s;
}

.contact-message textarea {
    resize: none;
    height: auto;
}

.contact-message label {
    width: 100%;
    font-size: 1.4rem;
    margin: 15px 0 5px;
    color: rgb(40, 40, 40);
}

.button-container button {
    height: 40px;
    width: 120px;
    background-color: black;
    color: white;
    font-size: 1.8rem;
    text-align: center;
    border: none;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
}

.button-container button i {
    margin-left: 5px;
}

.button-container button:hover {
    background-color: rgb(20, 20, 20);
    transition: 0.2s;
}



/* Tablet Media Queries */

@media screen and (max-width: 768px) {

    /* Banner Media Query */

    .banner-container {
        padding: 40px 20px;
    }

    /*Contact Media Query*/

    .contact-container {
        flex-direction: column;
    }

    .contact-info-content {
        text-align: center;
        padding: 0;
        margin: 40px 0;
    }

    .contact-info, .contact-message {
        padding: 30px 20px;
    }

    .method {
        margin-left: 0;
        text-align: center;
        margin: 10px 0;
    }
}



/* Phone Media Queries */

@media screen and (max-width: 600px) {

    /* Banner Media Query */

    .banner-container h4 {
        font-size: 3.2rem;
    }
}