/* Hero */

.hero {
    background: center/cover url(../resource/mountain-pic-min.jpg);
    height: calc(100vh - 72px);
    min-height: 440px;
}

.hero-container{
    width: 70%;
    padding: 100px 0;
}

.hero-container h4 {
    color: white;
    font-size: 5rem;
    text-transform: capitalize;
}

.hero-container p {
    color: rgb(250, 250, 250);
    margin-top: 10px;
    font-size: 2rem;
}

.hero-button-container {
    margin-top: 40px;
    display: flex;
}

.hero-button {
    height: 50px;
    width: 190px;
    margin-right: 20px;
    border: none;
    border-radius: 4px;
    font-size: 1.8rem;
    cursor: pointer;
}

.hero-button.btn-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(10, 10, 10);
}

.hero-button.btn-secondary {
    color: white;
    background-color: transparent;
    border: white 1px solid;
}

.hero-button.btn-primary:hover {
    background-color: rgb(15, 15, 15);
    transition: 0.2s;
}

.hero-button.btn-secondary:hover {
    background-color: rgb(10, 10, 10);
    border-color: rgb(10, 10, 10);
    transition: 0.2s;
}

/* Description */

.section {
    padding: 60px 0;
}

.section-title {
    margin-bottom: 40px;
    text-align: center;
}

.section-title h4 {
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 4.4rem;
    text-transform: uppercase;
}

.section-title h4::after {
    content: "";
    display: block;
    width: 200px;
    height: 2px;
    background-color: black;
    margin: 15px auto;
}

.description-item-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.description-item {
    width: 100%;
    padding: 30px;
    height: auto;
    text-align: center;
    border-radius: 8px;
}

.description-item h4 {
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: 400;
    font-size: 3.2rem;
}

.description-item p {
    margin-top: 10px;
    font-size: 1.6rem;
    color: rgb(40, 40, 40);
}

.description-item i {
    background-color: rgb(240, 240, 240);
    border-radius: 50%;
    height: 130px;
    width: 130px;
    font-size: 6rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sponsors */

.sponsors {
    background-color: rgb(240, 240, 240);
    padding: 60px 0;
}

.sponsors-title {
    margin-bottom: 60px;
    text-align: center;
}

.sponsors-title h4 {
    letter-spacing: 2px;
    font-weight: 600;
    color: rgb(100, 100, 100);
    font-size: 3.2rem;
    text-transform: uppercase;
}

.sponsors-title h4::after {
    content: "";
    display: block;
    width: 160px;
    height: 2px;
    background-color: rgb(100, 100, 100);
    margin: 10px auto;
}

.sponsors-item-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
}

.sponsors-item i {
    color: rgb(100, 100, 100);
    font-size: 6rem;
}

/* Showcase */

.showcase-item-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.showcase-item {
    width: 95%;
    padding: 30px 20px;
    height: auto;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.2);
}

.showcase-item h4 {
    font-size: 2rem;
    margin-top: 20px;
    font-weight: 500;
}

.showcase-item p {
    font-size: 1.6rem;
    margin-top: 10px;
    color: rgb(40, 40, 40);
}

.showcase-item button {
    margin-top: 20px;
    width: 120px;
    height: 40px;
    text-decoration: none;
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 4px;
    background-color: rgb(10, 10, 10);
    color: white;
    border: none;
}

.showcase-item button:hover {
    background-color: rgb(15, 15, 15);
    transition: 0.2s;
}

.showcase-button-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.showcase-button {
    width: 200px;
    height: 45px;
    font-size: 1.8rem;
    background-color: transparent;
    border: rgb(10, 10, 10) 1px solid;
    cursor: pointer;
    border-radius: 4px;
}

.showcase-button:hover {
    background-color: rgb(10, 10, 10);
    color: white;
    transition: 0.2s;
}

/* Sign-up */

.sign-up {
    background: rgb(230, 230, 230);
    height: auto;
}

.sign-up-container {
    padding: 100px 20px;
    text-align: center;
}

.sign-up-container h6 {
    font-weight: 400;
    font-size: 2.6rem;
    text-transform: capitalize;
    color: rgb(80, 80, 80);
    margin-bottom: 20px;
}

.sign-up-container h4 {
    font-size: 5rem;
    font-weight: 400;
}

.sign-up-container p, .mobile-container p {
    font-size: 1.8rem;
    color: rgb(40, 40, 40);
    margin-top: 5px;
}

.sign-up-button-container {
    margin-top: 40px;
    justify-content: center;
    display: flex;
}

.sign-up-button {
    margin: 0 10px;
    width: 180px;
    height: 45px;
    font-size: 1.8rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sign-up-button.btn-primary {
    color: white;
    background-color: rgb(10, 10, 10);
}

.sign-up-button.btn-secondary {
    background-color: transparent;
    border: rgb(10, 10, 10) 1px solid;
}

.sign-up-button.btn-primary:hover {
    background-color: rgb(15, 15, 15);
    transition: 0.2s;
}

.sign-up-button.btn-secondary:hover {
    color: white;
    background-color: rgb(10, 10, 10);
    transition: 0.2s;
}

/* Mobile */

.mobile {
    background: rgb(40, 40, 40);
    height: auto;
}

.mobile-container {
    padding: 40px 20px;
    text-align: center;
}

.mobile-container h4 {
    color: white;
    font-size: 3.2rem;
    font-weight: 400;
}

.mobile-container p {
    color: rgb(240, 240, 240);
}

.mobile-button-container {
    margin-top: 20px;
    justify-content: center;
    display: flex;
}

.mobile-button {
    background-color: transparent;
    border: 1px white solid;
    color: white;
    margin: 0 10px;
    width: 160px;
    height: 40px;
    font-size: 1.6rem;
    border-radius: 4px;
    cursor: pointer;
}

.mobile-button:hover {
    background-color: black;
    border-color: black;
    transition: 0.2s;
}

.mobile-button i {
    margin-right: 5px;
}



/* Tablet Media Queries */

@media screen and (max-width: 768px) {

    /* Hero Media Query */

    .hero-container {
        width: 100%;
        padding: 60px 20px;
        text-align: center;
    }

    .hero-container h4, .hero-container p {
        text-align: center;
    }

    .hero-button-container {
        justify-content: center;
    }

    /* Description Media Query */

    .section {
        padding: 40px 0;
    }

    .section-title h4 {
        font-size: 3.6rem;
    } 

    .description-item-container {
        grid-template-columns: 1fr;
    }

    .description-item {
        margin: 10px 0;
    }

    /* Sponsors Media Query */

    .sponsors-item-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .sponsors-item {
        margin: 10px 0;
    }

    /* Showcase Media Query */

    .showcase-item-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .showcase-item {
        margin: 10px 0;
    }
}



/* Phone Media Queries */

@media screen and (max-width: 600px) {

    /* Hero Media Query */

    .hero-container h4 {
        font-size: 3.2rem;
    }

    .hero-container {
        padding: 30px 10px;
    }

    .hero-button-container {
        flex-direction: column;
    }

    .hero-button {
        margin: 8px 0;
    }

    /* Showcase Media Query */

    .showcase-item-container {
        grid-template-columns: 1fr;
    }

    /* Sign Up / Mobile Media Query */

    .sign-up-container h4 {
        font-size: 3rem;
    }

    .mobile-container h4 {
        font-size: 2.4rem;
    }

    .sign-up-container {
        padding: 40px 10px
    }

    .mobile-container {
        padding: 30px 10px;
    }

    .sign-up-button-container, .mobile-button-container {
        flex-direction: column;
    }

    .sign-up-button, .mobile-button {
        margin: 8px 0;
    }
}