/* Banner */

.banner {
    background: center/cover url(../resource/forest-pic.jpg);
    height: 54vh;
    min-height: 280px;
}

.banner-container {
    text-align: center;
    padding: 60px 20px
}

.banner-container h4 {
    color: white;
    font-size: 4.6rem;
}

.banner-container p {
    color: white;
    font-size: 2rem;
    margin-top: 10px;
}
/* Showcase */

.showcase-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 60px 0;
}

.showcase-item {
    width: 95%;
    padding: 30px 20px;
    margin: 10px 0;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.2);
}

.showcase-item:hover {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
    transition: 0.4s;
}

.showcase-item h4 {
    font-size: 2rem;
    margin-top: 20px;
    font-weight: 500;
}

.showcase-item p {
    font-size: 1.6rem;
    margin-top: 10px;
    color: rgb(40, 40, 40);
}

/* Contact */

.contact {
    background-color: rgb(230, 232, 235);
    height: auto;
}

.contact-container {
    padding: 40px 20px;
    text-align: center;
}

.contact-container h6 {
    font-size: 2rem;
    color: rgb(40, 40, 40);
}

.contact-container h4 {
    font-size: 4rem;
}

.contact-container button {
    height: 45px;
    width: 160px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: black;
    color: white;
    font-size: 1.8rem;
    margin-top: 20px;
}

.contact-container button:hover {
    background-color: rgb(20, 20, 20);
    transition: 0.2s;
}



/* Tablet Media Queries */

@media screen and (max-width: 768px) {

    /* Banner Media Query */

    .banner-container {
        padding: 40px 20px;
    }

    /* Showcase Media Query*/

    .showcase-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 40px 0;
    }
}



/* Phone Media Queries */

@media screen and (max-width: 600px) {
    
    /* Banner Media Query */

    .banner-container h4 {
        font-size: 3.2rem;
    }

    /* Showcase Media Query */

    .showcase-container {
        grid-template-columns: 1fr;
        padding: 20px 0;
    }

    /* Contact Media Query */

    .contact-container h4 {
        font-size: 3.4rem;
    }
}